<div class="jumbotron">
  <h2><%= @project.title %></h2>
    <h3>Add a task:</h3>
    <%= render 'tasks/form' %>
  <%= link_to 'Back', projects_path %>
  <%= link_to 'Edit', edit_project_path(@project) %>
</div>
<%= render 'tasks/body' %>
